
h1 {
  font-size: 250px; color: black;
  text-decoration: underline;
}

p{
	font-size: 35px; color: lightblue;
  text-decoration: underline;
  
}


body
 {
background: url(fotodevi.jpeg) center no-repeat;

}